<div class='row'>
    <div class='col-md-6 offset-md-3'>
        <section class='section'>
            <div class='section-header py-4'>
                <h1 class='text-primary'>Criar livro</h1>
            </div>

            <div class='section-body'>
                
                <div class='card mb-2'>
                    <div class='card-header'>
                        <h6 class='text-primary font-weight-bold'>Dados para cadastro</h6>
                    </div>
                    
                    <div class='card-body'>
                        <%= render 'form', book: @book %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<%= link_to 'Show', @book %>
